body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0f7fa;
  background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);

}

.dashboard {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  opacity: 0.9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  display: flex;
  justify-self: flex-start;
  text-align: right;
  color: #00796b;
}

.summary {
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  text-align: right;
  margin-bottom: 20px;

}

.search-bar,
.filter-dropdown {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.weather-list {
  list-style: none;
  padding: 0;
  display: flex; 
  gap: 10px;
  flex-wrap: wrap;
  width: 800px;

}

.weather-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-bottom: 10px;
  background: #e0f2f1;
  border: 1px solid #dbb2df;
  border-radius: 4px;
}

.charts {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.chart {
  width: 45%;
}

.city-detail {
  text-align: center;
  margin-top: 20px;
}

.city-detail a {
  display: block;
  margin-bottom: 20px;
  color: #007bff;
  text-decoration: none;
}

.city-detail a:hover {
  text-decoration: underline;
}